<p class="h2">Вы ответели правильно на  <%= @test_passage.percent_right_answers %>% вопросов</p>
<% if @test_passage.success? %>
  <p class="h1 text-success"><%= t('.success', title: @test_passage.test.title) %></p>
 <% else %>
   <p class="h1 text-danger"><%= t('.lose', title: @test_passage.test.title) %></p>
 <% end %>
 <br>

<%= link_to 'Back to tests', tests_path , class: 'btn btn-primary'%>
