<h2>Вы ответели правильно на  <%= @test_passage.percent_right_answers %>% вопросов</h2>
<% if @test_passage.success? %>
  <h1 style="color: green;">
    <%= t('.success', title: @test_passage.test.title) %>
  </h1>
 <% else %>
   <h1 style="color: red;"><%= t('.lose', title: @test_passage.test.title) %></h1>
 <% end %>
 <br>

<%= link_to 'Back to tests', tests_path %>
