<hr>
<p><%= year_now  %></p>
<p>Автор: Кравчук Влад</p>
<p>Проект на гитхабе: <%= github_url('lllaner','lanerapp') %></p>
<p>Описание :<a href="http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
<p><a href="<%= feedbacks_path %>">  Форма обратной связи</a></p>
