 <tr class="text-center">
  <td><%= answer.body %></td>
  <td><%= link_to 'Show', admin_answer_path(answer), class: 'text-info' %></td>
  <td><%= link_to 'Edit',  edit_admin_answer_path(answer), class: 'text-important' %></td>
  <td><%= link_to 'Delete',
              admin_answer_path(answer),
              method: :delete,
              class: 'text-danger',
              data:   { confirm: 'Are you sure?' }%></td>
 </tr>
