<h1>Category of Test</h1>
<table>
  <tr>
    <th>Title</th>
    <th colspan="4">Actions</th>
  </tr>
<%= render @categories %>
</table>
<td><%= link_to 'Create category', new_admin_category_path %></td>
