<div class="row justify-content-center">
  <div class="col col-md-6">
    <h1>Update test</h1>
    <%= render 'form' %>
    <%= link_to 'Back', admin_tests_path, class: 'btn btn-primary' %>
  </div>
</div>
