<tr >
  <td style="border-bottom: 1px solid"><%= test.title %> ,<br> questions: (<%= test.questions.length %>)</td>
  <td><%= test.level %></td>
  <td><%= link_to 'Show', test_path(test) %></td>
</tr>
